Here are <%= "#{ @teaple.name }'s" %> messages:

<ul>
  <% if @messages %>
    <% @messages.each do |message|%>
      <li>
      <%= "#{message.messageText}" %>
      </li>
    <%  end %>
  <%  end %>
</ul>
