<section id="main">

<% if Teaple.all.any? %>
  <ul>
  <% Teaple.all.each do |teaple|%>
    <li><%= teaple.name %></li>
  <%  end %>
  </ul>
<% else %>
  <h2>No teaples added yet</h2>
<% end %>

<%= link_to "Add your profile", new_teaple_path %>
</section>

