<section id="profile">
  <h3><span class="prof">Name:</span> <%= @teaple.name %></h3>
  <p><span class="prof">Bio:</span> <%= @teaple.bio %></p>
  <p><span class="prof">Location:</span> <%= @teaple.location %></p>
  <p><span class="prof">Long/Lat:</span> <%= "#{@teaple.latitude}, #{@teaple.longitude}" %></p>


  <br/>
  <p><a class="button" href="/teaples">Back to home page</a></p>

</section>
